:root {
  font-family: system-ui, sans-serif;
  color-scheme: dark light;
}

.logo {
  vertical-align: text-bottom;
  display: inline;
  width: 40px;
  height: 40px;
}

.wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

#photos {
  margin-block-start: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

video {
  transform: scaleX(-1);
  display: block;
  width: 640px;
  height: 480px;
  background-color: darkgray;
}

canvas {
  transform: scaleX(-1);
}

button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  border: solid 2px white;
  outline: solid 2px black;
  outline-offset: 5px;
  margin-block-start: -80px;
  cursor: pointer;
  z-index: 1;
}

button:hover {
  outline-offset: 4px;
}

button:active {
  outline-offset: 3px;
}

button.busy {
  background: linear-gradient(
      rgb(255 0 0 / 100%) 0%,
      rgb(255 154 0 / 100%) 10%,
      rgb(208 222 33 / 100%) 20%,
      rgb(79 220 74 / 100%) 30%,
      rgb(63 218 216 / 100%) 40%,
      rgb(47 201 226 / 100%) 50%,
      rgb(28 127 238 / 100%) 60%,
      rgb(95 21 242 / 100%) 70%,
      rgb(186 12 248 / 100%) 80%,
      rgb(251 7 217 / 100%) 90%,
      rgb(255 0 0 / 100%) 100%
    )
    0 0/100% 200%;
  animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
  to {
    background-position: 0 -200%;
  }
}
